<div class="vertcontainer" align="left">
    <h3>{{lastname}} {{firstname}}</h3><p>{{teacherType}}</p>
</div>
<div class="vertcontainer" align="right">
    <button class="button" ng-click="logout()">Log out</button>
    <button class="button" onclick="toggleWindow('schedwindow', true)">Load docs</button>
</div>
<div id="teacherDiv" class="scrollable">
    <div id="schedule" class="tabcontent maintab" style="animation: slideInLeft 1s both ease-in;">
        <button class="navigate" ng-click="setYesterday()"><</button>
        <div class="datecontainer" align="center">{{day}}</div>
        <button class="navigate" ng-click="setTomorrow()">></button>
        <table align="center">
            <tr>
                <th>Time</th>
                <th>Subject | Class</th>
                <th>Go to</th>
            </tr>
            <tbody>
            <tr ng-repeat="lesson in daySchedule">
                <td align="center"><h3>{{lesson.number}}</h3><p>{{lesson.timeRange}}</p></td>
                <td><h3>{{lesson.subject}} {{lesson.classGrade}}-{{lesson.classLetter}}</h3><p>{{lesson.auditorium}}</p></td>
                <td><button class="goto gototable" ng-click="goToLesson(lesson.lessonID)">></button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="lesson" class="tabcontent maintab" align="center">
        <div class="window" style="display: block;">
            <div class="formheader"><h5>Lesson info</h5></div>
            <div align="center">
                <p>
                    <table class="nvis">
                        <tr class="nvis">
                            <td class="nvis">Subject:</td>
                            <td class="nvis">{{subject}}</td>
                        </tr>
                        <tr class="nvis">
                            <td class="nvis">Class:</td>
                            <td class="nvis">{{classGrade}}-{{classLetter}}</td>
                        </tr>
                        <tr class="nvis">
                            <td class="nvis">Time:</td>
                            <td class="nvis">{{timerange}}</td>
                        </tr>
                        <tr class="nvis">
                            <td class="nvis">Homework:</td>
                            <td class="nvis"><input class="in shortin" type="text" name="homework" ng-model="newHomework"></td>
                        </tr>
                    </table>
                </p>
                <button class="button minibutton" ng-click="goToSchedule()">Back</button>
                <button class="button minibutton" ng-click="resetHomework()">Reset</button>
                <button class="button minibutton" ng-click="setHomework(curLessonID)">Save</button>
                <div style="height: 1px;"></div>
            </div>
        </div>
        <br>
        <table align="center">
            <tr>
                <th>Number</th>
                <th>Pupil name</th>
                <th>Mark</th>
                <th>Set</th>
            </tr>
            <tbody>
            <tr ng-repeat="pupil in pupils">
                <td align="center"><p>{{pupil.number}}</p></td>
                <td align="center"><p>{{pupil.surname}} {{pupil.name}}</p></td>
                <td align="center"><p>{{pupil.mark}}</p></td>
                <td><button class="goto gototable" ng-click="openMarkWindow(pupil.ID, $event)">...</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="winlayer" align="center">
    <div id="schedwindow" class="window">
        <div class="formheader">
            <h5>Choose document and format</h5>
            <button class="close" onclick="toggleWindow('schedwindow', false)">X</button>
        </div>
        <div align="center">
            <br>
            <div class="in" style="display: inline-block" align="left">Document: <button class="lightdropbutton" ng-click="openDoclist($event)">v</button>{{doc}} </div>
            <div ng-show="doc=='Journal'">
                <div class="in" style="display: inline-block" align="left">Subject: <button class="lightdropbutton" ng-click="openSubjectList($event)">v</button>{{curSubject.name}} {{curSubject.class}}</div>
            </div>
            <div ng-show="doc=='Class rating'">
                <div class="in" style="display: inline-block" align="left">Class: <button class="lightdropbutton" ng-click="openClassList($event)">v</button>{{curClass.classGrade}}-{{curClass.classLetter}}</div>
            </div>
            <p>
                <input id="radioCSV" ng-click="setDoctype('csv')" type="radio" name="group1" class="regular-radio" checked/><label for="radioCSV"></label>CSV
                <input id="radioXLS" ng-click="setDoctype('xls')" type="radio" name="group1" class="regular-radio"/><label for="radioXLS"></label>XLS
                <input id="radioPDF" ng-click="setDoctype('pdf')" type="radio" name="group1" class="regular-radio"/><label for="radioPDF"></label>PDF
            </p>
            <button class="button" ng-click="download()">Download</button><div style="height: 1px;"></div>
        </div>
    </div>
</div>
<div id="doclist" class="lightdropdown" style="width: auto">
    <button class="lightdropitem" ng-click="setDocument('TeacherSchedule')">Schedule</button>
    <button class="lightdropitem" ng-click="setDocument('Journal')">Journal</button>
    <button class="lightdropitem" ng-click="setDocument('PupilsRating')">Class rating</button>
</div>
<div class="toastlayer" align="center">
    <div id="toast" class="toast" style="display: none;">
        {{ message }}
    </div>
</div>
<div id="marklist" class="dropdown">
    <button class="dropitem" ng-click="setMark(-1)">absent</button>
    <button class="dropitem" ng-click="setMark(0)">present</button>
    <button class="dropitem" ng-click="setMark(1)">1</button>
    <button class="dropitem" ng-click="setMark(2)">2</button>
    <button class="dropitem" ng-click="setMark(3)">3</button>
    <button class="dropitem" ng-click="setMark(4)">4</button>
    <button class="dropitem" ng-click="setMark(5)">5</button>
    <button class="dropitem" ng-click="setMark(6)">6</button>
    <button class="dropitem" ng-click="setMark(7)">7</button>
    <button class="dropitem" ng-click="setMark(8)">8</button>
    <button class="dropitem" ng-click="setMark(9)">9</button>
    <button class="dropitem" ng-click="setMark(10)">10</button>
</div>
<div id="subjectlist" class="lightdropdown" style="width: 150px;">
    <button ng-repeat="subject in subjects" class="lightdropitem" ng-click="setSubject(subject)">
        {{subject.name}} {{subject.class}}
    </button>
</div>
<div id="classlist" class="lightdropdown" style="width: 150px;">
    <button ng-repeat="class in classes" class="lightdropitem" ng-click="setClass(class)">
        {{class.classGrade}}-{{class.classLetter}}
    </button>
</div>

